.view-patients {
    padding: 20px;
    max-width: auto;
    margin: 0 auto;
}

/* Title */
.view-patients h2 {
    font-size: 28px;
    font-weight: 600;
    color: #265A93;
    margin-bottom: 20px;
    text-align: center;
}

.top-view {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-bottom: 20px;
}

.top-view h2 {
    margin: 0 auto;
}



.back-button:hover {
    background: #1c476d;
}

/* Centering Patient List */
.patient-list-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Patient List */
.patient-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 10px;
}

.patient-card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 5px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.patient-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.pagination-btns {
    display: flex;
}

.pagination-btns button {
    max-width: 200px;
    height: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
}

.pagination-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination-btns span {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    margin: 5px;
}


@media (max-width: 768px) {
    .patient-list {
        flex-direction: column;
    }
}
