.view-ward {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.add-room {
    width: 100px;
    background-color: black;
    margin-bottom: 10px;
}

.room-line {
    border-radius: 5px;
    border: 1px solid silver;
    max-width: 200px;
    margin: 0 5px 5px 0;
    padding: 5px 5px 5px;
}

.room-and-beds {
    display: flex;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
}

.main-div {

}

.ward-button {
    width: auto;
    background-color: #282c34;
    margin: 0 5px 5px 0;
    padding: 6px;
}

.rooms-div {
    margin-top: 0;
}

.tabs-div {
    margin: 0;
    padding: 0 10px 10px 0;
}

.btns-div {
    padding: 0;
    margin: 0;
}

.input-divs {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.input-field {
    margin: 5px 5px 5px 0;
    padding: 8px;
    height: 40px;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 200px;
}


.save-btn {
    width: auto;
    height: 40px;
    margin: 5px 5px 5px 0;
    padding: 8px;
}

.content {
    /* border: 1px solid silver; */
    border-radius: 5px;
}

.line {
    margin-right: 5px;
}

.room-title {
    margin: 0 5px 5px 0;
    padding: 5px 5px 5px ;
}

.add-bed-btn {
    width: 100px;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  max-width: 100px;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.save-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 100px;
}

.save-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.save-button:hover {
  background-color: #2c974b;
}

.save-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.save-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.save-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.plus-sign {
    width: 10px;
}

.bed-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.div-with-inputs {
    padding: 0;
    margin: 0;
}

.div-with-inputs input,
.div-with-inputs select {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    /* padding: 8px; */
    font-size: 16px;
}

.room-details {
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
}

.selected-room {
    border: 1px solid black;
}