
.patient-card {
    border: 2px solid #265A93; 
    padding: 5px;
    width: 165px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0; 
}

.patient-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.patient-info {
    margin-bottom: 10px;
}

.patient-name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.patient-dob,
.patient-email {
    font-size: 14px;
    color: #666;
    margin-bottom: 4px;
}

.view-profile-button {
    padding: 10px 15px;
    background-color: #265A93;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-profile-button:hover {
    background-color: #1c476d;
}
