/* Reset and Container Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.patient-registration {
  padding: 20px;
}

.patient-registration-form {
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* max-width: 800px; */
  margin: auto;
  max-width: 1200px;
  text-align: center;
}

/* Form Layout */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Form Rows */
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.form-row .form-group {
  flex: 1;
  min-width: 200px;
  max-width: 48%;
}

/* Full Width Elements */
.full-width {
  width: 100%;
}

/* Form Groups */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-weight: bold;
}

/* Input Fields */
.input-fields input, textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  background: #f9f9f9;
  transition: 0.3s ease;
  width: 100%;
}

textarea {
  min-height: 80px;
}

/* Submit Button */
button[type="submit"] {
  padding: 14px;
  background: #265A93;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 200px;
  margin: auto;
}

button[type="submit"]:hover {
  background: #1c476d;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
  .form-row .form-group {
    max-width: 100%;
  }
}
