.header {
    padding: 20px 30px;
    /* height: 70px; */
    height: auto;
    /* background: #011627; */
    /* background: #3F418D; */
    background: #00246B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    /* height: 50px; */
    color: white !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.hamburger {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.menu-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.menu-burger:hover {
    cursor: pointer;
}

.menu-burger p {
    color: white;
    align-self: center;
    justify-self: center;
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }
}